@page
@model CrimeCodesGuideModel
@{
  ViewData["Title"] = "Crime Codes Description Guide";
}

<h2>Here you can view a list of all crime codes and their descriptions.</h2>  

@{
   if (@Model.EX != null)
	 {
	   <br />
		 <br />
		 <h3>**ERROR: @Model.EX.Message</h3>
		 <br />
		 <hr />
		 <br />
		 <br />
	 }
}

<table class="table">  
    <thead>  
        <tr>  
            <th>  
                #
            </th>  
            <th>  
                IUCR
            </th>  
            <th>  
                Primary Description
            </th>  
            <th>  
                Secondary Description
            </th>  
            <th>
                Occurrences
            </th>  
        </tr>  
    </thead>  
    <tbody>  
				@{
				   int rank = 1;
				 }
                	
        @foreach (var item in Model.CrimeCodeList)  
        {  
            <tr>  
                <td>  
					@rank
                </td>  
                <td>  
                    @item.IUCR
                </td>  
                <td>  
                    @item.PrimaryDesc
                </td>  
                <td>  
                    @item.SecondaryDesc
                </td>  
                <td>  
                    @item.NumCrime
                </td>  
            </tr>  
						
					rank++;
        }  
    </tbody>  
</table> 